# Traitement de données sous PYTHON Partie I

Document ELEVE

 Pour traiter des données, nous allons utiliser la bibliothèque **Python Pandas** contenant de nouveaux outils par rapport au langage de base. La bibliothèque Pandas est donc très utilisée pour tout ce qui touche au traitement des données en Sciences, économie, ....

Nous allons utiliser des données très simples au format CSV déja vues auparavant: ces données sont contenues dans le fichier ident_virgule.csv.

Après avoir **importé** le fichier *ident_virgule.csv* dans les **Fichiers** de **JupiterNotebook**

Vous pouvez directement **visualiser** dans la fenètre de droite le contenu en cliquant sur le fichier

# Exécutez et Analysez le programme ci-dessous

In [7]:
import pandas
iden=pandas.read_csv("ident_virgule.csv")
print(iden)

      nom       prenom date_naissance
0  Durand  Jean-Pierre     23/05/1985
1  Dupont   Christophe     15/12/1967
2   Terta        Henry     12/06/1978

 Le code ci-dessus est très simple :
   *   Avec la première ligne, nous importons la bibliothèque pandas afin de pouvoir l'utiliser
*   À la deuxième ligne, nous créons une variable "iden" qui va contenir les données présentes dans le fichier "ident_virgule.csv"

Les nombres présents dans la 1ère colonne sont appelés des **index**. Chaque ligne du tableau a un index (première ligne : index 0, deuxième ligne index 1...) . Les index commencent par O et non 1.

#Analyse du programme

Complète le programme et Vérifie que la variable "info" contient bien le prénom "christophe"

In [22]:
import pandas
iden=pandas.read_csv("ident_virgule.csv")
info=iden.loc[1,'prenom']

Christophe

#Modification du programme

EX 1 Modifiez le programme pour que la variable info contienne "12/06/1978"

In [1]:
import pandas
iden=pandas.read_csv("ident_virgule.csv")
info=iden.loc[.................]
................................

12/06/1978

#Analyse du programme

Testez le programme suivant :

In [2]:
import pandas
iden=pandas.read_csv("ident_virgule.csv")
info=iden.loc[:,'nom']
print(info)

0    Durand
1    Dupont
2     Terta
Name: nom, dtype: object

 Vérifiez que la variable "info" contient bien toutes les données de la dernière ligne (index 2)



---

Il est aussi possible de récupérer seulement certaines lignes et certaines colonnes en utilisant la notation suivante : loc[[index_ligne_1,index_ligne_2,...],[index_colonne_1,index_colonne_2,...]]

#Analyse du programme

Testez le programme suivant :

In [3]:
import pandas
iden=pandas.read_csv("ident_virgule.csv")
info=iden.loc[[0,1],['nom','date_naissance']]
print(info)

      nom date_naissance
0  Durand     23/05/1985
1  Dupont     15/12/1967

Vérifiez que la variable "info" contient bien un tableau avec uniquement les colonnes "nom" et "date_naissance" de la première ligne (index 0) et de la deuxième ligne (index 1).

A vous de jouer en affichant uniquement le prénom du 2ème nom

In [0]:
import pandas

# Traitement de données sous PYTHON Partie II

Par la suite, nous allons travailler sur les données contenues dans le fichier *ville_virgule.csv.*

#Analyse du programme

In [0]:
import pandas
info_villes=pandas.read_csv("villes_virgule.csv")
print(info_villes)

#Analyse du programme

In [9]:
import pandas
info_villes=pandas.read_csv("villes_virgule.csv")
nom_alt=info_villes.loc[info_villes["alt_min"]>1500,["nom","alt_min"]]
print(nom_alt)

                     nom  alt_min
1618              Larche     1606
1790            Ristolas     1571
1798         Saint-Véran     1756
1847  Molines-en-Queyras     1625
1904              Abriès     1513
1923      Villar-d'Arêne     1519

Dans le "loc", l'expression "info_villes["alt_min"]>1500" est bien avant la virgule, elle concerne donc les index des lignes du tableau. On sélectionnera uniquement les lignes qui auront la valeur du descripteur "alt_min" supérieure à 1500. Nous allons donc bien sélectionner les villes qui ont une altitude minimum supérieure à 1500 m

##Modifier le programme pour qu'il affiche les villes d'altitude max inférieure à 1000 m d'altitude

In [0]:
import pandas
info_villes=pandas.read_csv("villes_virgule.csv")
nom_alt=..................................................
print(nom_alt)

###En vous inspirant de ce qui a été fait auparavant, écrivez un programme qui permettra d'avoir les villes qui ont une densité d'habitant inférieure à 50 (dans le tableau ainsi créé, on aura 3 colonnes : le nom de la ville, la densité de la population et l'altitude minimum)

In [15]:
import pandas
info_villes=pandas.read_csv("villes_virgule.csv")
nom_alt=..................................................
print(nom_alt)

             nom  dens  alt_min
2         Plagne    20      560
4       Pouillat    14      333
7      Corcelles    17      780
9       Relevant    37      235
14          Béon    36      228
...          ...   ...      ...
1994       Andon    10      911
1995   Belvédère     8      575
1997  Malaussène    13      154
1998       Beuil     6     1040
2001      Rigaud     6      333

[1350 rows x 3 columns]



---

**Il est possible de combiner plusieurs facteurs de sélection en utilisant un "et"("&") ou un "ou"("|"**

##Combien de villes ont une densité de population supérieure à 50 et une altitude minimum supérieure à 1200 m ? Facile .. A vous de jouer !

In [18]:
import pandas
info_villes=pandas.read_csv("villes_virgule.csv")
nom_alt=info_villes.loc[(info_villes["alt_min"]>1200) & (info_villes["dens"]>50),["nom","dens","alt_min"]]
print(nom_alt)

                   nom  dens  alt_min
1775    Saint-Chaffrey    64     1274
1875  Puy-Saint-Pierre    65     1237

Nous pouvons calculer des moyennes...

In [20]:
# Ce programme ..................
import pandas
info_villes=pandas.read_csv("villes_virgule.csv")
moyenne_alt_min=info_villes.loc[:,"alt_min"].mean()
print(moyenne_alt_min,"m")

287.1613545816733 m

##Écrivez un programme permettant de calculer le nombre moyen d'habitants en 2012

##Il est aussi possible de trier le tableau en fonction des valeurs d'un descripteur. Il suffit d'utiliser l'instruction "sort_values"

Exécute et analyse le programme

In [21]:
import pandas
info_villes=pandas.read_csv("villes_virgule.csv")
tri_alt_min=info_villes.sort_values(by=["alt_min"])
print(tri_alt_min)

      dep                   nom           cp  ...      lat  alt_min  alt_max
1963    6  Villefranche-sur-Mer         6230  ...  43.7000        0      575
2003    6     Villeneuve-Loubet         6270  ...  43.6500        0      213
2002    6                Cannes  06400-06150  ...  43.5500        0      260
2000    6                   Èze         6360  ...  43.7167        0      700
1999    6               Antibes  06600-06160  ...  43.5833        0      163
...   ...                   ...          ...  ...      ...      ...      ...
1923    5        Villar-d'Arêne         5480  ...  45.0423     1519     3883
1790    5              Ristolas         5460  ...  44.7667     1571     3294
1618    4                Larche         4540  ...  44.4500     1606     3165
1847    5    Molines-en-Queyras         5350  ...  44.7333     1625     3160
1798    5           Saint-Véran         5350  ...  44.7000     1756     3175

[2008 rows x 12 columns]

Vous devriez obtenir un nouveau tableau de données "tri_alt_min" trié dans l'ordre croissant des altitudes minimums. Quelle est la ville ayant l'altitude minimum la plus faible de France ? Il est aussi possible de trier par ordre décroissant en ajoutant "ascending=False" :

In [22]:
import pandas
info_villes=pandas.read_csv("villes_virgule.csv")
tri_alt_min=info_villes.sort_values(by=["alt_min"], ascending=False)
print(tri_alt_min)

      dep                   nom           cp  ...      lat  alt_min  alt_max
1798    5           Saint-Véran         5350  ...  44.7000     1756     3175
1847    5    Molines-en-Queyras         5350  ...  44.7333     1625     3160
1618    4                Larche         4540  ...  44.4500     1606     3165
1790    5              Ristolas         5460  ...  44.7667     1571     3294
1923    5        Villar-d'Arêne         5480  ...  45.0423     1519     3883
...   ...                   ...          ...  ...      ...      ...      ...
1999    6               Antibes  06600-06160  ...  43.5833        0      163
2000    6                   Èze         6360  ...  43.7167        0      700
1963    6  Villefranche-sur-Mer         6230  ...  43.7000        0      575
2002    6                Cannes  06400-06150  ...  43.5500        0      260
2003    6     Villeneuve-Loubet         6270  ...  43.6500        0      213

[2008 rows x 12 columns]

##Quelle est la ville ayant l'altitude minimum la plus importante de France ?

##Écrivez un programme permettant de répondre à la question suivante : quelle est la ville ayant la densité de population la plus forte ?

Voous pouvez écrire toutes les fonctions utisées pour traiter, filtrer les données sous Python






*Idée originale de David Roche.*